
.product__list_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    column-gap: 90px;
    row-gap: 90px;
}
.product__list_wrap .explore__item {
    width: calc((100% - (90px * 2)) / 3 );
}